// @media screen and (min-width: 576px){
    [data-lazy] {
        opacity: 0;
        // transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
        // transition-duration: 1s;
        will-change: transform,opacity;
    }
    
    [data-lazy='fade']{
        opacity: 0;
        transition-property: opacity;
        transition-timing-function: ease-in;
        &.lazy-animate {
            transition-delay: 0.5s;
        }
    }
    
    [data-lazy='fade-up'] {
        transform: translate3d(0,100px,0);
    
    }
    [data-lazy='fade-down'] {
        transform: translate3d(0,-100px,0);
    }
    [data-lazy='fade-left'] {
        transform: translate3d(100px,0,0);
    }
    [data-lazy='fade-right'] {
        transform: translate3d(-100px,0,0);
    }
    
    .lazy-animate {
        opacity: 1;
        transform: translateZ(0);
        transition-property: opacity,transform;
        transition-timing-function: ease-in,ease-out;
        transition-duration: 0.7s ;
        will-change: transform,opacity;
    }
// }

main,
header {
    overflow: hidden;
}